
github:
  client:
    id: Iv1.933474e281b2fa6b
    secret: 0fcc6db2e9213b42ec4e77a3daf438e37e94f362
    redirectUri: http://localhost:8080/callback


mybatis:
  type-aliases-package: com.lilesien.dto
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/community?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: 267946
    driver-class-name: com.mysql.cj.jdbc.Driver