<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >社区首页</title>
    <!--jquery.js应该放在bootstrap.js的前面-->
    <script th:src="@{/js/jquery-3.6.0.min.js}" src="js/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
</head>
<body>
<div th:replace="~{commons/common::headbar}"></div>
<div class="jumbotron">
    <h1>出错啦!</h1>
    <p th:text="${message}">...</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到首页</a></p>
</div>
</body>
</html>